<template>
  <div id="app">
    <keep-alive>
      <router-view name="Head"/>
    </keep-alive>
    <keep-alive>
      <router-view/>
    </keep-alive>
    <keep-alive>
      <router-view name="Foot"/>
    </keep-alive>
  </div>
</template>
<script>
export default {
  name: 'app',
  data () {
    return {
    }
  }
}
</script>