* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
}
html, body, #app {
  width: 100%;
  font-size: 14px;
  font-family: Arial, Microsoft Yahei, '微软雅黑', Simhei, '黑体', sans-serif;
  color: #333;
}
#app {
  background: url('../images/background.jpg') no-repeat center top;
  background-size: 100% 100%;
  width: 100%;
  min-width: 750px;
}
.homeBox {
  background: #fff;
  box-sizing: border-box;
  min-height: calc(~'100vh - 96px');
  box-sizing: border-box;
}
.commonWidth {
  min-width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1000px;
}