<template>
  <div class='commonHeight error-box commonWidth'>
    <i class="el-icon-s-order" />
    <span>找不到该页面！</span>
  </div>
</template>

<script>
export default {
  name: 'error',
  components: {},
  data () {
    return {}
  },
  computed: {},
  watch: {},
  created () {},
  methods: {}
}
</script>

<style lang='less' scoped>
  .error-box {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    box-sizing: border-box;
    min-height: calc(~'100vh - 96px');
    box-sizing: border-box;
    i {
      font-size: 100px;
      color: #f00;
      margin-bottom: 10px;
    }
    span {
      color: #f75959;
      font-size: 18px;
      letter-spacing: 2px;
    }
  }
</style>