<template>
  <div class='loading-box' :style="{marginTop: marginTop + 'px'}">
    <div class="outBox">
      <div class="innerBox innerBoxa"></div>
      <div class="innerBox innerBoxb"></div>
      <div class="innerBox innerBoxc"></div>
      <div class="innerBox innerBoxd"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'loading',
  props: {
    marginTop: {
      type: Number,
      default: 0
    }
  }
}
</script>
<style lang='less' scoped>
  .loading-box {
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .outBox{
      width: 70px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      .innerBox {
        margin-bottom: 5px;
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #19A68C;
        opacity: 1;
        animation: k-loading 2.8s infinite;
        opacity: 0;
        &.innerBoxb {
          animation-delay: .7s;
        }
        &.innerBoxc {
          animation-delay: 2.1s;
        }
        &.innerBoxd {
          animation-delay: 1.4s;
        }
      }
    }
    @keyframes k-loading {
      0% {opacity:.5;background:#19A68C}
      30% {opacity:.5;background:#FDA543}
      60% {opacity:0}
      75% {opacity:0}
      100% {opacity:.5;background:#19A68C}
    }
  }
</style>