<template>
  <div class='foot'>
    {{ footText }} Copyright © 2020-2025 {{ url }}. All Rights Reserved.
  </div>
</template>

<script>
import {footText, url} from 'src/platform.config'
export default {
  name: '',
  components: {},
  data () {
    return {
      footText,
      url
    }
  },
  computed: {},
  watch: {},
  created () {},
  methods: {}
}
</script>

<style lang='less' scoped>
  .foot {
    background: #f7f7f7;
    width: 100%;
    height: 60px;
    // background: url('../../assets/images/spriteNavi.jpg') repeat-x left top;
    color: #fff;
    line-height: 60px;
    text-align: center;
    color: #787878;
    font-size: 12px;
  }
</style>