<template>
  <div class='head'>
    <div class="topBar">
      <div class="innerBox">
        <div class="time">
          {{ $t('Header.time') }}: {{ currTime }}
        </div>
        <ul>
          <li @click="$router.push({path: '/'})">
            <i class="el-icon-s-home" />
            {{ $t('Header.home') }}
          </li>
          <li class="line" />
          <li @click="setLang('zh')">
            <img :src="imgPath('zh.png')"/>
            {{ $t('Header.zh') }}
          </li>
          <li class="line" />
          <li @click="setLang('en')">
            <img :src="imgPath('en.png')"/>
            {{ $t('Header.en') }}
          </li>
          <li class="line" />
          <template v-if="!islogin">
            <li @click="AsetLoginDialog(true)">
              <i class="el-icon-user-solid" />
              {{ $t('Header.login') }}
            </li>
            <li class="line" />
            <li @click="AsetRegistDialog(true)">
              <i class="el-icon-s-check" />
              {{ $t('Header.regist') }}
            </li>
          </template>
          <template v-else>
            <li>
              <i class="el-icon-s-check" />
              {{ userInfo.username }}
            </li>
            <li class="line" />
            <li @click="logoOut">
              <i class="el-icon-switch-button"/>
              退出
            </li>
          </template>
        </ul>
      </div>
    </div>
    <!-- 登录 -->
    <el-dialog
      title="登录"
      :visible.sync="loginDialog"
      :close-on-click-modal="false"
      width="500px"
      :show-close="false"
      center>
      <login />
    </el-dialog>
    <!-- 注册 -->
    <el-dialog
      title="注册"
      :visible.sync="registDialog"
      :close-on-click-modal="false"
      width="500px"
      :show-close="false"
      center>
      <regist />
    </el-dialog>
  </div>
</template>

<script>
import storage from 'good-storage'
import {mapGetters, mapActions} from 'vuex'
import {week} from 'src/api/dataConfig'
import login from 'pages/components/login'
import regist from 'pages/components/regist'
import { isLogin, logout } from 'api/init-page'
export default {
  name: 'Head',
  components: {
    login,
    regist
  },
  data () {
    return {
      week,
      selected: storage.get('lang') || 'zh',
      date: new Date(),
      currTime: '2020-03-07 14:55:55 周三',
      current: 0,
      classEnable: false,
      timeNull: null
    }
  },
  computed: {
    ...mapGetters([
      'loginDialog',
      'registDialog',
      'islogin',
      'userInfo'
    ])
  },
  watch: {
    islogin: {
      handler(val) {
        if (val) {
          this.timeNull = setInterval(() => {
            this.check_isLogin()
          }, 1000 * 60)
        } else {
          clearInterval(this.timeNull)
        }
      },
      immediate: true
    }
  },
  created () {
    this.getTime()
    setInterval(() => {
      this.getTime()
    }, 1000)
    // 检测用户是否登录
    this.check_isLogin()
  },
  methods: {
    ...mapActions([
      'AsetLoginDialog',
      'AsetRegistDialog',
      'AsetLoginStatus',
      'AsetUserInfo'
    ]),
    // 退出登录
    logoOut () {
      this.$confirm('确定退出吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        logout({user_id: this.userInfo.id, username: this.userInfo.username}).then(res => {
          if (res.code === 0) {
            this.$notify.success({
              title: '提示',
              message: '退出成功！'
            })
            this.AsetLoginStatus(false)
            this.AsetUserInfo({})
          } else {
            this.$notify.error({
              title: '提示',
              message: '退出失败！'
            })
          }
        })
      }).catch(() => {
      })
    },
    // 判断用户是否登录
    check_isLogin () {
      isLogin().then(res => {
        if (res.code === 0) {
          this.AsetLoginStatus(true)
          this.AsetUserInfo(res.data)
        } else {
          if (this.islogin) {
            this.$notify.error({
              title: '提示',
              message: '用户未登录, 请先登录！'
            })
          }
          clearInterval(this.timeNull)
          this.AsetLoginStatus(false)
          this.AsetUserInfo({})
        }
      })
    },
    // 切换语言
    setLang (lang) {
      storage.set('lang', lang)
      this.$i18n.locale = storage.get('lang')
    },
    // 获取当前时间
    getTime () {
      let date = new Date
      let y = date.getFullYear()
      let m = String(date.getMonth() + 1).padStart(2, '0')
      let d = String(date.getDate()).padStart(2, '0')
      let h = String(date.getHours()).padStart(2, '0')
      let f = String(date.getMinutes()).padStart(2, '0')
      let s = String(date.getSeconds()).padStart(2, '0')
      let w = this.week[date.getDay()]
      this.currTime =  y + '-' + m + '-' + d + ' ' + h + ':' + f + ':' + s + ' ' + w
    }
  }
}
</script>
<style lang='less' scoped>
  .head {
    width: 100%;
    .topBar {
      height: 36px;
      background-color: #84d2ff;
      background-color: rgba(255,255,255,.5);
      padding: 0 15px;
      .innerBox {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul {
          display: flex;
          align-items: center;
          li {
            cursor: pointer;
            display: flex;
            align-items: center;
            &:not(i) {
              &:hover {
                color: #007eff;
                text-decoration: underline;
              }
            }
            img {
              width: 24px;
              height: 16px;
              border-radius: 5px;
              margin-right: 5px;
            }
            i {
              margin-right: 3px;
              font-size: 16px;
              color: #f34141;
            }
            &.line {
              content: '';
              display: block;
              height: 17px;
              width: 2px;
              background: #007eff;
              margin:0 10px;
            }
          }
        }
      }
    }
  }
</style>