<template>
  <div class="homeBox">
    <div class="commonWidth logoBox">
      <div class="logo">
        <div class="img">
          <el-image
            style="width: 100%; height: 100%"
            :src="imgPath('keai.jpg')"
            :preview-src-list="[imgPath('keai.jpg')]">
          </el-image>
        </div>
        <div class="t1">{{ $t('Home.signature') }}</div>
      </div>
      <div class="content">
        <template v-if="dataList.length">
          <div class="row" v-for="(item, index) in dataList" :key="index">
            <div class="title">
              <span class="text">{{ item.title }}</span>
            </div>
            <div class="containers">
              {{ item.content }}
            </div>
            <div class="doBox">
              <span>{{ fromatNyrSfm(item.updatedAt) }}</span>
              <span class="like" @click="like(item.id)">赞 ({{ item.like_count }})</span>
              <span>回复 ({{ item.comment_count }})</span>
              <span class="want">我要回复</span>
            </div>
          </div>
        </template>
        <div class="notData" v-if="!listLoading && !dataList.length">
          <i class="el-icon-s-order"/>
          <span>暂无数据!</span>
        </div>
        <!-- 注册的全局加载组件,直接用 -->
        <loading v-if="listLoading && !dataList.length" :marginTop="150"/>
        <div class="page" v-if="dataList.length">
          <el-pagination
            @current-change="changePage"
            background
            :current-page.sync="pages.currPage"
            layout="prev, pager, next"
            :page-size="5"
            :total="pages.totalCount">
          </el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {fromatNyrSfm} from 'util/common'
import {mapGetters} from 'vuex'
import { getList, like } from 'api/init-page'
export default {
  name: 'home',
  data () {
    return {
      fromatNyrSfm,
      dataList: [],
      showLoginBox: true,
      pages: {},
      listLoading: true
    }
  },
  computed: {
    ...mapGetters([
      'islogin',
      'userInfo'
    ])
  },
  created () {
    this.getList(1)
  },
  methods: {
    getList (currPage) {
      getList({currPage}).then(res => {
        this.listLoading = false
        if (res.code === 0) {
          this.dataList = res.data
          this.pages = res.pages
        }
      }).catch(error => {
        this.listLoading = false
      })
    },
    // 改变页
    changePage (val) {
      this.getList(val)
    },
    // 点赞
    like (content_id, user_id) {
      if (this.islogin) {
        like({content_id}).then(res => {
          if (res.code === 0) {
            this.$notify.success({
              title: '提示',
              message: res.message
            })
            this.getList(this.pages.currPage || 1)
          } else {
            this.$notify.error({
              title: '提示',
              message: res.message || '点赞失败'
            })
          }
        })
      } else {
        this.$notify.error({
          title: '提示',
          message: '请先登录！'
        })
      }
    }
  }
}
</script>

<style lang='less' scoped>
  .homeBox {
    .logoBox {
      .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
        .img {
          width: 120px;
          height: 120px;
          margin-bottom: 15px;
          border-radius: 10px;
          cursor: pointer;
          overflow: hidden;
        }
        .t1 {
          font-size: 14px;
          color: #888;
          margin-bottom: 10px;
        }
      }
      .content {
        margin-top: 15px;
        padding: 0 30px;
        .row {
          border-bottom: 1px solid #f0f0f0;
          word-wrap: break-word;
          padding-bottom: 5px;
          .title {
            display: flex;
            height: 30px;
            justify-content: space-between;
            align-items: center;
            .text {
              font-size: 16px;
              color: black;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .containers {
            font-size: 13px;
            line-height: 24px;
            color: #999;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow:ellipsis;
            padding-left: 10px;
          }
          .doBox {
            display: flex;
            justify-content: flex-end;
            span {
              margin-left: 15px;
              color: #b4b4b4;
              cursor: pointer;
              font-size: 12px;
              display: block;
              height: 30px;
              line-height: 30px;
              &.like {
                &:hover {
                  color: #007eff
                }
              }
              &.want {
                color: #007eff;
              }
            }
          }
        }
        .notData {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          i {
            font-size: 80px;
            color: #a2a1a1;
            margin-bottom: 5px;
          }
          span {
            font-size: 22px;
            letter-spacing: 6px;
          }
        }
        .page {
          display: flex;
          justify-content: center;
          height: 60px;
          align-items: center;
        }
      }
    }
  }
</style>