<template>
  <div class='login-box'>
    <div class="login-row">
      <el-input placeholder="请输入用户名" v-model="loginData.username">
        <template slot="prepend">用户名</template>
      </el-input>
    </div>
    <div class="login-row">
      <el-input
        @keyup.enter.native="toLogin"
        placeholder="请输入密码"
        type="password"
        v-model="loginData.password"
        show-password
        >
        <template slot="prepend">密码</template>
      </el-input>
    </div>
    <div class="btn">
      <el-button round :loading="isloging" @click="toLogin">{{ loginText }}</el-button>
    </div>
    <i class="el-icon-circle-close close" @click="AsetLoginDialog(false)"/>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import { login } from 'api/init-page'
export default {
  name: 'login',
  components: {},
  data () {
    return {
      loginData: {
        username: '',
        password: ''
      },
      isloging: false,
      loginText: '登录'
    }
  },
  computed: {
    ...mapGetters([
      'loginDialog'
    ])
  },
  watch: {
    loginDialog (val) {
      if (!val) {
        this.loginData.username = ''
        this.loginData.password = ''
        this.isloging = false
        this.loginText = '登录'
      }
    }
  },
  created () {},
  methods: {
    ...mapActions([
      'AsetLoginDialog',
      'AsetLoginStatus',
      'AsetUserInfo'
    ]),
    toLogin () {
      if (this.loginData.username === '') {
        this.$notify.error({
          title: '提示',
          message: '请输入用户名！'
        })
        return
      }
      if (this.loginData.password === '') {
        this.$notify.error({
          title: '提示',
          message: '请输入密码！'
        })
        return
      }
      this.isloging = true
      this.loginText = '正在登录。。。'
      login(this.loginData).then(res => {
        this.isloging = false
        this.loginText = '登录'
        if (res.code === 0) {
          this.$notify.success({
            title: '提示',
            message: '登录成功'
          })
          this.AsetLoginDialog(false)
          this.AsetLoginStatus(true)
          this.AsetUserInfo(res.data)
        } else {
          this.$notify.error({
            title: '提示',
            message: res.message
          })
        }
      })
    }
  }
}
</script>

<style lang='less' scoped>
  .login-box {
    .login-row {
      margin-bottom: 25px;
    }
    .btn {
      button {
        width: 100%;
      }
    }
    .close {
      position: absolute;
      top: -24px;
      right: -28px;
      font-size: 26px;
      z-index: 5;
      background: #fff;
      border-radius: 50px;
      cursor: pointer;
      transition: all .3s linear;
      padding: 0;
      &:hover {
        transform: rotate(45deg);
      }
    }
  }
</style>
<style>
  .login-row .el-input .el-input-group__prepend{
    padding: 0!important;
    width: 60px!important;
    text-align: center!important;
  }
</style>