<template>
  <div class='regist-box'>
    <div class="regist-row">
      <el-input placeholder="请输入用户名" v-model="registData.username">
        <template slot="prepend">用户名</template>
      </el-input>
    </div>
    <div class="regist-row">
      <el-input
        placeholder="请输入密码"
        type="password"
        v-model="registData.password"
        show-password
        >
        <template slot="prepend">密码</template>
      </el-input>
    </div>
    <div class="regist-row">
      <el-input 
        placeholder="请确诊密码" 
        type="password" 
        v-model="registData.rePassword" 
        show-password
        @keyup.enter.native="toRegist"
        >
        <template slot="prepend">确认密码</template>
      </el-input>
    </div>
    <div class="btn">
      <el-button round :loading="isRegisting" @click="toRegist">{{ registText }}</el-button>
    </div>
    <i class="el-icon-circle-close close" @click="AsetRegistDialog(false)"/>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import { register } from 'api/init-page'
export default {
  name: 'login',
  components: {},
  data () {
    return {
      registData: {
        username: '',
        password: '',
        rePassword: '',
      },
      isRegisting: false,
      registText: '注册'
    }
  },
  computed: {
    ...mapGetters([
      'registDialog'
    ])
  },
  watch: {
    registDialog (val) {
      if (!val) {
        this.registData.username = ''
        this.registData.password = ''
        this.registData.rePassword = ''
        this.isRegisting = false
        this.registText = '注册'
      }
    }
  },
  created () {},
  methods: {
    ...mapActions([
      'AsetRegistDialog'
    ]),
    toRegist () {
      if (this.registData.username === '') {
        this.$notify.error({
          title: '提示',
          message: '请输入用户名！'
        })
        return
      }
      if (this.registData.password === '') {
        this.$notify.error({
          title: '提示',
          message: '请输入密码！'
        })
        return
      }
      if (this.registData.password !== this.registData.rePassword) {
        this.$notify.error({
          title: '提示',
          message: '两次输入的密码不一致！'
        })
        return
      }
      this.isRegisting = true
      this.registText = '正在注册。。。'
      register(this.registData).then(res => {
        this.isRegisting = false
        this.registText = '注册'
        if (res.code === 0) {
          this.$notify.success({
            title: '提示',
            message: '注册成功'
          })
          this.AsetRegistDialog(false)
        } else {
          this.$notify.error({
            title: '提示',
            message: res.message
          })
        }
      })
    }
  }
}
</script>

<style lang='less' scoped>
  .regist-box {
    .regist-row {
      margin-bottom: 25px;
    }
    .btn {
      button {
        width: 100%;
      }
    }
    .close {
      position: absolute;
      top: -24px;
      right: -28px;
      font-size: 26px;
      z-index: 5;
      background: #fff;
      border-radius: 50px;
      cursor: pointer;
      transition: all .3s linear;
      padding: 0;
      &:hover {
        transform: rotate(45deg);
      }
    }
  }
</style>
<style>
  .regist-row .el-input .el-input-group__prepend{
    padding: 0!important;
    width: 75px!important;
    text-align: center!important;
  }
</style>